# production | test
NODE_ENV="development"
PORT=4000

# if running without docker, these should be 
# the default postgres user/password on your pc
# or the remote db details used by your deployment environment
# with docker these values can be whatever you wish
# just make sure docker-compose uses the correct values
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""


DB_HOST="localhost"
DB_PORT=5432

# for pagination
LIMIT=10

# Can be ignored if you're not using pg-admin
PGADMIN_DEFAULT_EMAIL=""
PGADMIN_DEFAULT_PASSWORD=""

JWT_SECRET=""
JWT_DUR="10m"

SECRET_KEY=""

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
CALLBACK_URL=""

BREVO_KEY=""
